{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Inicio</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni veniam dolor nihil earum et doloribus maiores rem
            neque alias, quidem harum quae provident! Repellendus aspernatur quasi quisquam? Aut, sit beatae quia cum
            eligendi hic voluptate aperiam! Debitis nostrum quibusdam, incidunt consequuntur a nisi eos repellat recusandae
            at illo impedit adipisci suscipit veniam, ratione quod doloremque praesentium possimus eveniet id quia. Ad,
            quasi. Praesentium excepturi magni dolores, sit exercitationem aliquid itaque sint labore nulla autem provident
            </p>

            <div class="text-center">
                <a class="btn btn-success" href="/signin/">
                    Ingresar
                </a>
                <a class="btn btn-primary" href="/signup/">
                    Crear Cuenta
                </a>
            </div>
    </section>
</main>

{% endblock %}